.banner {
  height: 223px;
  border-radius: 25px;
  margin-left: 20px;
  margin-right: 20px;  
}

.hometitle { 
  background-image: url("../assets/test.png");
  font-weight: 500;
  line-height: normal;
  color: white;
  height: 133px;
  border-radius: 25px;
  padding-left: 20px;
  font-size: 24px;
  text-align: start;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "Montserrat";
  background-size: 100% 100%;
  background-blend-mode: darken;
  display: flex;
  align-items: center;
}

.display {
  display: block;
}

@media screen and (min-width: 992px) {
  .banner {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 7rem; 
  }

  .bannerapimage {
    
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .display {
    display: none;
  }

  .hometitle {
    background-image: url("../assets/photo-banner.png");
    background-size: 100% 100%;
    width: 98%;
    padding-top: 90px;
    text-align: center;
    font-size: 48px;
    background-blend-mode: normal;
    display: block;
  }
}
