.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 25px;
  padding: 25px;
  margin-left: 20px;
  margin-right: 20px;
  list-style-type: none;
  text-decoration: none;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 335px;
  height: 255px;
  margin: 27px 25px;
  border-radius: 10px;
  position: relative;
}
.cardimage {
  width: 335px;
  height: 255px;
  border-radius: 10px;
  object-fit: cover;
}

.cardsubtitle {
  height: 68px;
  width: 335px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom:1px;
  border-radius: 10px;
  
}
.cardtitle {
  margin-left: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: white;
  width: 238px;
  
}



@media screen and (min-width: 992px) {

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    background: #e5e5e5;
  }

  .card {
    width: 340px;
    height: 340px;
  }

  .cardimage {
    width: 340px;
    height: 340px;
  }

  .cardsubtitle {
    width : 440px;
  }
}
