.headinit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  margin: 20px 20px;
  width: 145px;
  height: 45px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 140px;
}

.choix {
  margin: 35px 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  color: #ff6060;
}

@media screen and (min-width: 992px) {
  .logo{
    margin-top: 50px;
    margin-left:9.5rem ;
    width: 245px;
    height: 100px;
  }

  .headnav{
    margin-top: 35px;
    margin-right: 35px;
    font-size: x-large;
  }
}
  
