.slides {
  height: 255px;
  border-radius: 25px;
  width: 100%;
}

.slideshow {
  display: flex;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 20px;
}

.arrowleft {
  height: 20px;
  position: relative;
  right: -20px;
}
.arrowright {
  height: 20px;
  position: relative;
  left: -20px;
}

@media screen and (min-width: 992px) {
  .slides {
    height: 415px;
  }

  .slideshow {
    justify-content: center;
  }

  .arrowleft {
    position: relative;
    right: -70px;
    cursor: pointer;
    height:7rem;
  }
  .arrowright {
    position: relative;
    left: -70px;
    cursor: pointer;
    height:7rem;
  }
}
